//-
   User: andychups
   Date: 18.08.14

extends ../../layouts/layout/layout

block css
    link(rel="stylesheet", href="/static/compare/_compare.css")


block js
    script(src="/static/common/_common.js")
    script(src="/static/compare/compare.jade.js")
    script(src="/static/compare/_compare.js")


block content
    h1 Lazada &ndash; compare products

    .compare-list.js-compare-list
        form(action="/api/product", method="get")
            input(type="text", name="url", value="http://www.lazada.vn/nokia-105-man-hinh-mau-14-xanh-76651.html").compare-list__input
            span.js-list-view__grab.compare-list__send Add product

        .notify.js-notify Status here

        .compare-list__view.js-compare-list-view